/* Home page and general styling */
body{
  margin: 0;
  padding: 0;
  background-color: #D3A98D;
}
header, button{
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  background: #730C0C;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
}
button{
  padding: 25px 1em 10px 1em;
  width: 100%;
  cursor: pointer;
}

.largeModeBTN{
  display: none;
}
.advertisement{
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.business-card{
  width: 300px;
  background: #ffffff;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  margin-left: 0px;
  margin-right: 0px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-image{
  max-width: 100%;
  margin-bottom: 5%;
}
.line{
  width: 200px;
  height: 0.001px;
  background: #656565;
  display: block;
  margin: 10px auto;
}
p{
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
}
a{
  color: #473213;
}

#design1, #design2a, #design2b{
  display: none;
}
footer{
  width: 100%;
  height: 5vh;
  background-color: #473213;
}

@media (min-width: 650px){

  button:not(.meBTN){
  font-size: 24px;
  }
  .meBTN{
    font-size: 18px;
    padding-top: 22px;
    padding-bottom: 22px;
  }
}
@media (min-width: 900px){

  .largeModeBTN{
    display: flex;
    justify-content: center;
  }
  #design1{
    display: flex;
    background-color: #473213;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transform: translateX(-100px);
  }
  
  #design2a{
    display: flex;
    background-color: #473213;
    width: 50px;
    height: 200px;
    transform: skew(20deg) translateX(50px);
    
  }
  #design2b{
    display: flex;
    background-color: #674b20;
    width: 50px;
    height: 200px;
    transform: skew(-20deg) translateX(0px);
  }
  .business-card{
    transform: translateX(-50px);
  }
  
}
@media (min-width: 1150px){
  #design1{
    transform: translateX(-240px);
  }
  #design2a{
    transform: skew(20deg) translateX(190px);
  }
  #design2b{
    transform: skew(-20deg) translateX(140px);
  }
}
/* About me page */

#aboutParagraph{
  color: #473213;
  font-weight: bold;
  text-align: center;
  line-height: 25px;
  font-size: 18px;
  margin: 20px;
}
.content{
  display: block;
  text-align: center;
}
#aboutimg{
  margin: 20px;
  width: 450px;
  height: 500px;
}

#aboutTitle{
  color: #730C0C;
  font-size: 50px;
}
@media (min-width: 980px){
  .content{
  padding: 11vh;
  display: flex;
  align-items: center;
  text-align: left;
  }
  .text-container{
    padding-right: 0;
  }
  #aboutimg{
  transform: translateX(-100px);
  }
  #aboutParagraph{
  text-align: left;
  padding-right: 275px;
  margin: 0;
  }
}
@media (min-height: 776px) {
  #aboutFoot{
  transform: translateY(100px);
  }
}

/* Resume Page */

#resume{
  width: 90%;
  height: 90%;
  display: block;
  margin: 30px auto;
}
@media (max-width: 546px){
  #resumeFoot{
   transform: translateY(57px); 
  }
}
#resumepar{
  color:#473213;
  margin-top: 30px;
  font-weight: bold;
}
/* ! Page */

#excTitle{
  display: flex;
  justify-content: center;
  margin-top: 10%;
  color: #730C0C;
  font-size: 50px;
}

#excParagraph, #excError{
  display: flex;
  justify-content: center;
  color: #473213;
  font-size: 24px;
  font-weight: bold;
}

#excimg{
  width: 30%;
  height: 30%;
  display: block;
  margin: 30px auto;
}

#excFooter{
  transform: translateY(553px);
}

