body{
  margin: 0;
  padding: 0;
}
header, h1, button{
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  background: #730C0C;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
}
button{
  padding: 25px 1em 10px 1em;
}

h1{
  font-size: 54px;
  font-weight: bold;
  padding-left: 50px;
  padding-right: 50px;
}
.synopsis{
  background: #D3A98D;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.business-card{
  width: 300px;
  background: #ffffff;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto; 
  display: flex;
  flex-direction: column;
}
.profile-image{
  max-width: 100%;
  margin-bottom: 5%;
}
.line{
  width: 200px;
  height: 0.001px;
  background: #656565;
  display: block;
  margin: 10px auto;
}
p{
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
}


@media (max-width: 600px){

  header, h1, button{
  font-size: 14px;
  }

}
