body{
  margin: 0;
  padding: 0;
}
header, button{
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  background: #730C0C;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
}
button{
  padding: 25px 1em 10px 1em;
  width: 100%;
  cursor: pointer;
}

.largeModeBTN{
  display: none;
}
.advertisement{
  background: #D3A98D;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.business-card{
  width: 300px;
  background: #ffffff;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  margin-left: 0px;
  margin-right: 0px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-image{
  max-width: 100%;
  margin-bottom: 5%;
}
.line{
  width: 200px;
  height: 0.001px;
  background: #656565;
  display: block;
  margin: 10px auto;
}
p{
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
}


@media (min-width: 650px){

  button:not(.meBTN){
  font-size: 24px;
  }
  .meBTN{
    font-size: 18px;
    padding-top: 22px;
    padding-bottom: 22px;
  }
}
@media (min-width: 900px){

  .largeModeBTN{
    display: flex;
    justify-content: center;
  }
  .design1{
    background-color: #674b20;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transform: translateX(-100px);
  }
  
  .design2a{
    background-color: #674b20;
    width: 50px;
    height: 200px;
    transform: skew(20deg) translateX(50px);
    
  }
  .design2b{
    background-color: #674b20;
    width: 50px;
    height: 200px;
    transform: skew(-20deg) translateX(0px);
  }
  .business-card{
    transform: translateX(-50px);
  }
  
}
@media (min-width: 1150px){
  .design1{
    transform: translateX(-240px);
  }
  .design2a{
    transform: skew(20deg) translateX(190px);
  }
  .design2b{
    transform: skew(-20deg) translateX(140px);
  }
}
  


